
body {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'> <rect  width='10' height='10' fill='rebeccapurple' stroke='chartreuse'/> <circle cx='5' cy='5' r='4' fill='slateblue'  /></svg>");
  /* background: black; */
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 68vw 30vw;
  grid-template-rows: 33% auto 1fr;
  grid-template-areas: 'red cam'
                      'green inputs'
                      'blue inputs';
  grid-gap: 20px;
  width: 100vw;
}

.rgb-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  width: 100%;
}

.inputs {
  /* background: white; */
  grid-area: inputs;
  /* display:flex; */
  /* justify-content: space-evenly; */
}

.red {
  grid-area: red
}
.green {
  grid-area: green
}
.blue {
  grid-area: blue
}

video, img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  grid-area: cam;
  filter: url(#greenScreen);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.post-wrapper {
  display: grid;
 grid-template-columns: max-content max-content 1fr;  
 grid-gap: 5px;
 font-weight: 700;
  font-size: 30px;
  margin: 20px;
}

.rgb-vals {
  padding: 2px;
  min-width: 27px;
  text-align: center;
}
.red, .color-red {
  background: red;
}

.green, .color-green {
  background: green;
}
 .blue, .color-blue {
  background: blue;
}

.rgb-vals.hovered {
  background: slateblue;
}

.slider-label {
  display: flex;
  /* flex-direction: row-reverse; */
  margin: 20px;
  font-weight: 700;
  font-size: 30px;
}

#svg-filter {
  display: none;
}

.range {
  width: 100%;
}

.select {
  width: 90%;
  height: 30px;
  margin: 20px;
}
